.topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 3, 69);
    color: aliceblue;
    gap: 4rem;
    height: 4rem;
    padding-bottom: 0rem;
    font-size: 7px;
}

body {
    margin: 0;
}

.topbar .phone {
    border: 2px solid white;
    padding: 0.5rem;
}

.topbar h1 {
    margin: 0;
}

.topbar img {
    justify-self: start;
}
.topbar .birus {
    justify-self: center;
}

h1 span {
    color: rgb(236, 209, 60);
}
div {
    font-family: Noto Sans, sans-serif;
}
.bara {
    display:flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 5.9rem;
    margin: 3rem;
}
h2 {
    font-weight: 900;
    color: rgb(75, 76, 79);
    font-size: 2.5rem;
    max-width: 40rem;
}
h3 {
    color: rgb(162, 165, 168);
    max-width: 40rem;
    font-size: 1.2rem;
    max-width: 20000rem;
}
button {
    font-size: 1.2rem;
    padding: 1rem;
    background-color: rgb(236, 209, 60);
    color: rgb(72, 74, 77);
    width: 12rem;
}
button span{
    font-size: 1rem;
    background-color: rgb(5, 3, 69);
    margin: 4rem;
}
h2 span{
    color: rgb(236, 209, 60);
}
.content img {
    width: 50rem;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 35rem;
}
.boba {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.rooms {
    display: flex;
    justify-content: center;
    height: 30rem;
    padding-top: 10rem;
    padding-left: 6rem;
}
.catalog {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-top: 6rem;
    color: rgb(75, 76, 79);
}
.catalog img {
    padding-left: 25rem;
    padding-top: 6rem;
    width: 60rem;
}
.catalog h1 {
    padding-left: 3rem;
}
.option {
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-bottom: 0rem;
    height: 30rem;
}
.catalog .option {
    display: flex;
}

